mixin blog()
    section.blog
        .blog__wrp.container
            .blog__title
                span.blog__title-small    Весь мир.
                h2.h2_heading.t_left.blog__title-heading   МАЙСКИЕ КАНИКУЛЫ
                span.blog__title-text    Майские выходные - отличный повод отправиться в отпуск! Маршруты на любой вкус по России и миру. Авторские маршруты по Словении, Ирану, Мадагаскару. Маршруты по Турции, Грузии, Италии. Найтите поездку себе по душе!
                a.btn.btn_white.btn_icon_arrow(href="#") ПОЕХАЛИ
            .blog__frame
                img(src="img/blog/photo-frame.jpg", alt="Девушка в машине")