mixin travel-details()
    .travel-details(style="background-image: url('../img/travel-details/bghead.jpg')")
        .travel-details__wrp
            a.btn.btn_bg_yellow.btn_icon_arrow.t_left(href="#") Подобрать тур
            .travel-details__tooltip
                .travel-details__country
                    span.travel-details__span    Страны
                    .select-dropdown-country
                        .select-dropdown-country__scroll
                            ul.select-dropdown-country__content
                                li.select-dropdown-country__item Южная Америка
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                        li  Все туры на континенте
                                li.select-dropdown-country__item Северная Америка
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Арктика и Антарктика
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Африка
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Австралия и Океания
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Европа
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Россия
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Азия
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Арктика и Антарктика
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Россия
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Северная Америка
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Южная Америка
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Австралия
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Мадагаскар
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Япония
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Африка
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Новая Зеландия
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Португалия
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                                li.select-dropdown-country__item Канада
                                    ul.select-dropdown-country__hidden
                                        li  Аргентина
                                        li  Бразилия
                                        li  Перу
                                        li  Уругвай
                                        li  Чили
                                        li  Эквадор
                .travel-details__date
                    span.travel-details__span#travel-details__span    Даты
                .travel-details__type
                    span.travel-details__span    Тип путешествия
                    .select-dropdown-type
                        ul.select-dropdown-type__content
                            li.select-dropdown-type__item Активный
                            li.select-dropdown-type__item  Майские
                            li.select-dropdown-type__item  На авто
                            li.select-dropdown-type__item  На корабле
                            li.select-dropdown-type__item  Новый год
                            li.select-dropdown-type__item  Поход
                            li.select-dropdown-type__item  Серфинг
                            li.select-dropdown-type__item  Эксклюзив
                            li.select-dropdown-type__item  Экскурсионный
                            li.select-dropdown-type__item  Экспедиция
            p.travel-details__paragraph   У нас много невероятных путешествий по всей планете. И есть одно, которое изменит вас!