.navigation {
    padding: r(32);
    background-color: $yel;

    &_position {
        position: absolute;
        top: 0;
        right: 0;
    }

    &_bg {
        &_transparent {
            background-color: transparent;
        }
    }
}