mixin navigation()
    nav(class = navTransparent ? 'navigation navigation_position navigation_bg_transparent' : 'navigation')
        a.menu-btn(class = btnWhite ? 'menu-btn menu-btn_bg_white' : 'menu-btn')
            span
        .overlay