extends layouts/default
include helpers/mixins
include ../blocks/modules/navigation/navigation.pug
include ../blocks/modules/slide-menu/slide-menu.pug
include ../blocks/modules/travel/travel.pug
include ../blocks/modules/formback/formback.pug

block variables
	- const title = "gulp-pug-starter"
	- const navTransparent = false;
	- const btnWhite = false;
	- const container = '50.688rem';

block content
	include ../../src/img/sprite.svg
	#site-container
		header
			+navigation
			+slide-menu
		main
			+travel
			+formback

block scripts
	script.
		(function (ELEMENT) {
			ELEMENT.matches = ELEMENT.matches || ELEMENT.mozMatchesSelector || ELEMENT.msMatchesSelector || ELEMENT.oMatchesSelector || ELEMENT.webkitMatchesSelector;
			ELEMENT.closest = ELEMENT.closest || function closest(selector) {
				if (!this) return null;
				if (this.matches(selector)) return this;
				if (!this.parentElement) {
					return null
				} else return this.parentElement.closest(selector)
			};
		}(Element.prototype));
	script(src="js/main.js")
	script(src="js/vendor.js")
