.callback {
    height: r(429);
    display: flex;
    justify-content: flex-end;
    @include sm(justify-content, center);
    align-items: flex-end;
    padding-bottom: r(55);

    &__paragraph {
        font-weight: 700;
        font-size: r(28);
        letter-spacing: r(3);
    }
}