mixin travel()
    section.travel
        .travel__title.container.travel__title_p_46
            h2.h2_heading  ЗИМБАБВЕ
        .travel__offers.container
            .travel__offers-wrp
                .travel__item
                    .travel__image.travel__image_bg-orange(style="background-image: url('img/travel/toskana-bg.jpg')")
                        .travel__cost
                    .travel__details
                        p.travel__details-country   Италия
                        p.travel__details-name   Под небом Тосканы
                        p.travel__details-road   Сансеполькро — (Перуджа) — Ассизи — Губбио — (Сиена) — Ла Верна — Ангиари — Монтерки — Ареццо — Кортона — (Пиенца) - (Монтепульчано)
                        .travel__details-sign
                            p.travel__details-days   8 дней / 7 ночей Русский язык
                            p.travel__details-dates    27.04.19 - 04.05.19 и еще 15 дат
                        span.warn-sign   Авиаперелет включен!
                .travel__item
                    .travel__image.travel__image_bg-green(style="background-image: url('img/travel/island-bg.jpg')")
                        .travel__cost
                    .travel__details
                        p.travel__details-country   Исландия
                        p.travel__details-name   Майские каникулы в Исландии
                        p.travel__details-road   Рейкьявик — Тингвеллир — Гюдльфосс — Скафтафедль — Сельяландсфосс — Скоугафосс — Йёкюльсаурлоун — Голубая Лагуна — Снайфельсйёкутль — Arnarstapi — Рейкьявик
                        .travel__details-sign
                            p.travel__details-days   8 дней / 7 ночей Русский язык
                            p.travel__details-dates    27.04.19 - 04.05.19
                .travel__item
                    .travel__image.travel__image_bg-dark-blue(style="background-image: url('img/travel/turkey-bg.jpg')")
                        .travel__cost
                    .travel__details
                        p.travel__details-country   Турция
                        p.travel__details-name   Открытие Турции
                        p.travel__details-road   Стамбул — Анкара — Каппадокия — Конья — Памуккале — Эфес — Кушадасы — Пергам — Ассос — Троя — Стамбул
                        .travel__details-sign
                            p.travel__details-days   8 дней / 7 ночей Русский язык
                            p.travel__details-dates    28.04.19 - 05.05.19 и еще 3 даты
                .travel__item
                    .travel__image.travel__image_bg-blue(style="background-image: url('img/travel/toskana-bg.jpg')")
                        .travel__cost
                    .travel__details
                        p.travel__details-country   НОРВЕГИЯ, ШПИЦБЕРГЕН
                        p.travel__details-name   От Свальбарда до Груманта
                        .travel__details-sign
                            p.travel__details-days   8 дней / 7 ночей Русский язык
                            p.travel__details-dates    27.04.19 - 04.05.19 и еще 15 дат
                        span.warn-sign   Гарантированный тур!
