mixin slide-menu()
    .slide-menu
        //- a.slide-btn.slide-btn_active.slide-btn_bg_white
        a(class = btnWhite ? 'slide-btn slide-btn_active slide-btn_bg_white' : 'slide-btn slide-btn_active')
            span
        .slide-menu__wrp
            .slide-menu__travel
                .slide-menu__items-wrp
                    .slide-menu__subject.slide-menu__subject_relative
                        span.slide-menu__span(data-subject="countries")    Страны
                        svg
                            use(xlink:href="#arrow-down")
                        .select-dropdown-country
                            .select-dropdown-country__scroll
                                ul.select-dropdown-country__content
                                    li.select-dropdown-country__item Южная Америка
                                        ul.select-dropdown-country__hidden.overflowVisible
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                            li  Все туры на континенте
                                    li.select-dropdown-country__item Северная Америка
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Арктика и Антарктика
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Африка
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Австралия и Океания
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Европа
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Россия
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Азия
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Арктика и Антарктика
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Россия
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Северная Америка
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Южная Америка
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Австралия
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Мадагаскар
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Япония
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Африка
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Новая Зеландия
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                                    li.select-dropdown-country__item Португалия
                                        ul.select-dropdown-country__hidden
                                            li  Аргентина
                                            li  Бразилия
                                            li  Перу
                                            li  Уругвай
                                            li  Чили
                                            li  Эквадор
                    .slide-menu__subject.slide-menu__subject_relative
                        span.slide-menu__span(data-subject="dates")    Даты
                        svg
                            use(xlink:href="#arrow-down")
                .slide-menu__item-wrp
                    .slide-menu__subject
                        span.slide-menu__span(data-subject="type")    Тип путешествия
                        svg
                            use(xlink:href="#arrow-down")
                        .select-dropdown-type
                            ul.select-dropdown-type__content
                                li.select-dropdown-type__item Активный
                                li.select-dropdown-type__item  Майские
                                li.select-dropdown-type__item  На авто
                                li.select-dropdown-type__item  На корабле
                                li.select-dropdown-type__item  Новый год
                                li.select-dropdown-type__item  Поход
                                li.select-dropdown-type__item  Серфинг
                                li.select-dropdown-type__item  Эксклюзив
                                li.select-dropdown-type__item  Экскурсионный
                                li.select-dropdown-type__item  Экспедиция
            .slide-menu__navigation
                ul
                    li
                        a(href="#")  ПУТЕШЕСТВИЯ
                    li
                        a(href="#")  О НАС
                    li
                        a(href="#")  Отзывы
                    li
                        a(href="#")  Блог
            .slide-menu__footer
                p   +7 (495) 123-45-67
                a.btn(href="#") Подберите мне тур