mixin slide-menu()
    .slide-menu
        .slide-menu__wrp
            .slide-menu__travel
                .slide-menu__items-wrp
                    .slide-menu__subject
                        span    Страны
                        svg
                            use(xlink:href="#arrow-down")
                    .slide-menu__subject
                        span    Даты
                        svg
                            use(xlink:href="#arrow-down")
                .slide-menu__item-wrp
                    .slide-menu__subject
                        span    Тип путешествия
                        svg
                            use(xlink:href="#arrow-down")
            .slide-menu__navigation
                ul
                    li
                        a(href="#")  ПУТЕШЕСТВИЯ
                    li
                        a(href="#")  О НАС
                    li
                        a(href="#")  Отзывы
                    li
                        a(href="#")  Блог
            .slide-menu__footer
                p   +7 (495) 123-45-67
                a.btn(href="#") Подберите мне тур