h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
}

.t {
    &_left {
        text-align: left;
    }

    &_right {
        text-align: right;
    }

    &_center {
        text-align: center;
    }
}

body {
    font-family: 'Museo Sans Cyrl', "Arial", sans-serif;
    font-size: r(16);
    color: #000;
    overflow-x: hidden;
    line-height: 1.75;
    position: relative;
    margin: 0 auto;
    min-width: r(320);
    opacity: 1;
}

.btn {
    display: inline-block;
    white-space: nowrap;
    padding: r(17) r(74);
    background-color: transparent;
    border: r(1) solid $bl;
    border-radius: r(29.5);
    text-decoration: none;
    color: $bl;

    &_icon_arrow:after {
        content: url('../img/svg/arrow-down.svg');
        position: absolute;
        top: r(16);
        right: r(25);
        transform: rotate(-90deg);
    }

    &_bg_yellow {
        padding: 1.0625rem 9.625rem 1.0625rem 1.625rem;
        background-color: $yel;
        border: none;
        cursor: pointer;
        position: relative;
        @include sm(margin, 0 auto);
        @include sm(display, inherit);
    }

    &_white {
        padding-left: r(29);
        padding-right: r(29);
        background-color: $wh;
        border: none;
        font-size: r(12);
        text-align: left;
        min-width: r(190);
        position: relative;
    }

    &_upper {
        text-transform: uppercase;
    }
}

.warn-sign {
    color: $wh;
    background-color: $bur;
    padding: r(3) r(13);
    border-radius: r(3);
}

.h2_heading {
    font-size: r(36);
    font-weight: 700;
    text-align: center;
    @include sm(font-size, r(26));
}

.form-item_required {
    position: relative;

    &:after {
        content: "*";
        font-size: r(16);
        color: #CB0037;
        position: absolute;
        top: -0.325rem;
        right: -0.6125rem;
    }

    &_position:after {
        right: 0.0875rem;
    }
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: r(45);
    margin-bottom: r(12);
    cursor: pointer;
    font-size: r(22);
    user-select: none;
    height: r(35);

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__span {
        position: absolute;
        top: 0;
        left: 0;
        height: r(35);
        width: r(35);
        background-color: transparent;
        border: r(1) solid #E7E7E7;
        border-radius: r(3);

        &_size_small {
            width: r(15);
            height: r(15);
        }
    }

    &:hover input~&__span {
        background-color: rgba(#ccc, .1);
    }

    &__span:after {
        position: absolute;
        top: r(-3);
        left: r(6);
        display: none;
        content: url('../img/svg/arrow-down-yellow.svg');

    }

    &__span_size_small:after {
        top: r(-16.4);
        left: r(1);
        content: url('../img/svg/arrow-down-yellow-small.svg')
    }

    input:checked~&__span:after {
        display: block;
    }

    &-sign {
        position: absolute;
        top: -1.65rem;
        left: -1.7625rem;
        text-transform: uppercase;
        font-size: r(10);
        text-align: center;
        display: block;
        width: 5.775rem;
        font-weight: 600;
        line-height: 1.1;
        @include sm(font-size, r(8));
    }

    &_size_small {
        height: r(15);
        padding-left: r(15);
        margin-right: r(16);
        @include sm(height, 0.4375rem)
    }
}

.input-required {
    border: r(1) solid $bur;
    animation: animationBorder 1.5s ease-in-out infinite;

}

@keyframes animationBorder {
    0% {
        border: r(1) solid rgba($bur, .2);
    }

    50% {
        border: r(1) solid rgba($bur, 1);
    }

    100% {
        border: r(1) solid rgba($bur, .2);
    }
}

.required-message {
    position: absolute;
    bottom: r(-30);
    color: $bur;
    font-size: r(12);
    font-weight: 600;
    @include sm(display, none);
}

.select-dropdown-country {
    visibility: hidden;
    opacity: 0;
    width: 18.6975rem;
    max-height: 25.4rem;
    position: absolute;
    top: r(83);
    left: 0;
    background-color: $wh;
    padding: r(30);
    border-radius: r(29.5);
    transition: all .4s ease-in;
    overflow-y: hidden;
    padding-bottom: 1.275rem;
    z-index: 10;

    &__scroll {
        height: 22rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: r(2) !important;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: r(1) !important;
            background-color: #C4C4C4 !important;
        }
    }

    li:not(:last-child) {
        margin-bottom: 0.1125rem;
    }

    &__content {
        display: inline-block;
        padding: r(10) 0;
        padding-bottom: 0;
        width: 100%;

    }

    &__item {
        position: relative;
    }

    &__hidden {
        display: none;
        visibility: hidden;
        position: relative;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
        padding-left: 0.325rem;
        transition-delay: 4s;
        transition: display .4s ease-out;

        li:last-child {
            font-size: r(14);
            color: $yel
        }

        li:hover:not(:last-child) {
            margin-right: r(10);
            background-color: rgba($gra, .1);
            padding-left: r(10);
            transition: all .3s linear;
        }

        li {
            margin-right: r(10);
            border-radius: r(15);
            padding-left: r(10);
        }
    }


    li {
        list-style: none;
        text-align: left;
    }
}

.overflowVisible {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    position: relative;
    opacity: 1;
    padding-top: 0.1625rem;
    padding-bottom: 0.3625rem;
    // animation: overFlowHidden .5s linear;
}

// @keyframes overFlowHidden {
//     0% {
//         height: 0%;
//         overflow: hidden;
//     }

//     100% {
//         height: 100%;
//         overflow: hidden;
//     }
// }

.select-dropdown-type {
    visibility: hidden;
    opacity: 0;
    width: 18.75rem;
    border-radius: r(29.5);
    background-color: $wh;
    position: absolute;
    left: 0;
    font-size: r(14);
    font-weight: 600;
    padding: 0.625rem 2.1625rem;
    top: r(83);
    transition: all .4s linear;

    &__item {
        list-style: none;
        text-align: left;
        margin: r(8) 0;
        border-radius: r(15);
        padding: 0 r(10);
    }
}

.active {
    top: r(43) !important;
    visibility: visible !important;
    opacity: 1 !important;
    animation: dropdownAnimation .4s ease-out !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 100;
}

.visible {
    padding-top: 1.0625rem;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: all .4s ease-out;
    z-index: 10;
}

.menu-btn,
.slide-btn {
    display: block;
    position: absolute;
    // z-index: 21;
    top: r(23);
    right: r(23);
    width: r(30);
    height: r(22);
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    line-height: 1;

    span {
        position: relative;
    }

    span,
    span:after,
    span:before {
        content: "";
        display: inline-block;
        width: r(30);
        height: r(5);
        transition: all .2s linear;
        background-color: $bl;
    }

    span:before {
        position: absolute;
        bottom: r(-16);
        transition-delay: 1s;
    }

    &_active {
        margin-right: 1.0625rem;

        span {
            transform: rotateZ(45deg);
            margin-top: r(5);
        }

        span:after {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateZ(-90deg);
            transition: all .2s linear;
        }

        span:before {
            display: none;
        }
    }

    &_bg_white {

        span,
        span:after,
        span:before {
            background-color: $wh;
        }
    }
}

.list_active {
    background-color: rgba($gra, .3);
}